<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>SIMULADOR</display-name>
    <description>Versio beta del simulador de produccio de llet.</description>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Simulador.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GranjaServlet</servlet-name>
        <servlet-class>Simulador.GranjaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GranjaServlet</servlet-name>
        <url-pattern>/Granja</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimularServlet</servlet-name>
        <servlet-class>Simulador.SimularServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimularServlet</servlet-name>
        <url-pattern>/Simular</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>VacaServlet</servlet-name>
		<servlet-class>Simulador.VacaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VacaServlet</servlet-name>
		<url-pattern>/Vaca</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TerneroServlet</servlet-name>
		<servlet-class>Simulador.TerneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TerneroServlet</servlet-name>
		<url-pattern>/Ternero</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SecarServlet</servlet-name>
		<servlet-class>Simulador.SecarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecarServlet</servlet-name>
		<url-pattern>/Secar</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InseminarServlet</servlet-name>
		<servlet-class>Simulador.InseminarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InseminarServlet</servlet-name>
		<url-pattern>/Inseminar</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InseminarTerneroServlet</servlet-name>
		<servlet-class>Simulador.InseminarTerneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InseminarTerneroServlet</servlet-name>
		<url-pattern>/InseminarTernero</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DescubrirServlet</servlet-name>
		<servlet-class>Simulador.DescubrirServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DescubrirServlet</servlet-name>
		<url-pattern>/Descubrir</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DescubrirTerneroServlet</servlet-name>
		<servlet-class>Simulador.DescubrirTerneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DescubrirTerneroServlet</servlet-name>
		<url-pattern>/DescubrirTernero</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IdiomaServlet</servlet-name>
		<servlet-class>Simulador.IdiomaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdiomaServlet</servlet-name>
		<url-pattern>/Idioma</url-pattern>
	</servlet-mapping>
    
    <servlet>
        <servlet-name>VacasGranjaServlet</servlet-name>
        <servlet-class>Simulador.VacasGranjaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VacasGranjaServlet</servlet-name>
        <url-pattern>/VacasGranja</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>DietaServlet</servlet-name>
		<servlet-class>Simulador.DietaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DietaServlet</servlet-name>
		<url-pattern>/Dieta</url-pattern>
	</servlet-mapping>
    
    <servlet>
        <servlet-name>HistoricoVacaServlet</servlet-name>
        <servlet-class>Simulador.HistoricoVacaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoricoVacaServlet</servlet-name>
        <url-pattern>/HistoricoVaca</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TablaInseminacionesServlet</servlet-name>
        <servlet-class>Simulador.TablaInseminacionesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TablaInseminacionesServlet</servlet-name>
        <url-pattern>/TablaInseminaciones</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>SalirServlet</servlet-name>
        <servlet-class>Simulador.SalirServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalirServlet</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>NuevaGranjaServlet</servlet-name>
        <servlet-class>Simulador.NuevaGranjaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevaGranjaServlet</servlet-name>
        <url-pattern>/NuevaGranja</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>GraficaServlet</servlet-name>
        <servlet-class>Simulador.GraficaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraficaServlet</servlet-name>
        <url-pattern>/Grafica</url-pattern>
    </servlet-mapping>

  	<servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Simulador.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>AdminProfesoresServlet</servlet-name>
        <servlet-class>Simulador.AdminProfesoresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProfesoresServlet</servlet-name>
        <url-pattern>/AdminProfesores</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>NuevoProfesorServlet</servlet-name>
        <servlet-class>Simulador.NuevoProfesorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevoProfesorServlet</servlet-name>
        <url-pattern>/NuevoProfesor</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>ModificaProfesorServlet</servlet-name>
        <servlet-class>Simulador.ModificaProfesorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaProfesorServlet</servlet-name>
        <url-pattern>/ModificaProfesor</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>BorrarProfesorServlet</servlet-name>
        <servlet-class>Simulador.BorrarProfesorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrarProfesorServlet</servlet-name>
        <url-pattern>/BorrarProfesor</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>AdminCursosServlet</servlet-name>
		<servlet-class>Simulador.AdminCursosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCursosServlet</servlet-name>
		<url-pattern>/AdminCursos</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminIngredientsServlet</servlet-name>
		<servlet-class>Simulador.AdminIngredientsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIngredientsServlet</servlet-name>
		<url-pattern>/AdminIngredientes</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NuevoCursoServlet</servlet-name>
		<servlet-class>Simulador.NuevoCursoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NuevoCursoServlet</servlet-name>
		<url-pattern>/NuevoCurso</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NuevoIngredienteServlet</servlet-name>
		<servlet-class>Simulador.NuevoIngredienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NuevoIngredienteServlet</servlet-name>
		<url-pattern>/NuevoIngrediente</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BorrarCursoServlet</servlet-name>
		<servlet-class>Simulador.BorrarCursoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrarCursoServlet</servlet-name>
		<url-pattern>/BorrarCurso</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BorrarIngredienteServlet</servlet-name>
		<servlet-class>Simulador.BorrarIngredienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrarIngredienteServlet</servlet-name>
		<url-pattern>/BorrarIngrediente</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModificarCursoServlet</servlet-name>
		<servlet-class>Simulador.ModificarCursoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificarCursoServlet</servlet-name>
		<url-pattern>/ModificarCurso</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModificarIngredienteServlet</servlet-name>
		<servlet-class>Simulador.ModificarIngredienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificarIngredienteServlet</servlet-name>
		<url-pattern>/ModificarIngrediente</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>CambioVariablesServlet</servlet-name>
        <servlet-class>Simulador.CambioVariablesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambioVariablesServlet</servlet-name>
        <url-pattern>/CambioVariables</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>CambioVariablesGestacion</servlet-name>
		<servlet-class>Simulador.CambioVariablesGestacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioVariablesGestacion</servlet-name>
		<url-pattern>/CambioVariablesGestacion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CambioVariablesGranja</servlet-name>
		<servlet-class>Simulador.CambioVariablesGranja</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioVariablesGranja</servlet-name>
		<url-pattern>/CambioVariablesGranja</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CambioVariablesSecado</servlet-name>
		<servlet-class>Simulador.CambioVariablesSecado</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioVariablesSecado</servlet-name>
		<url-pattern>/CambioVariablesSecado</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioVariablesProduccion</servlet-name>
		<servlet-class>Simulador.CambioVariablesProduccion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioVariablesProduccion</servlet-name>
		<url-pattern>/CambioVariablesProduccion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioVariablesVaca</servlet-name>
		<servlet-class>Simulador.CambioVariablesVaca</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioVariablesVaca</servlet-name>
		<url-pattern>/CambioVariablesVaca</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioVariablesTernero</servlet-name>
		<servlet-class>Simulador.CambioVariablesTernero</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioVariablesTernero</servlet-name>
		<url-pattern>/CambioVariablesTernero</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>QuitarProfesorCursoServlet</servlet-name>
        <servlet-class>Simulador.QuitarProfesorCursoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuitarProfesorCursoServlet</servlet-name>
        <url-pattern>/QuitarProfesorCurso</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>ProfeCursoServlet</servlet-name>
		<servlet-class>Simulador.ProfeCursoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfeCursoServlet</servlet-name>
		<url-pattern>/ProfeCurso</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfeIngredientsServlet</servlet-name>
		<servlet-class>Simulador.ProfeIngredientsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfeIngredientsServlet</servlet-name>
		<url-pattern>/ProfeIngredientes</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfeGranjasServlet</servlet-name>
		<servlet-class>Simulador.ProfeGranjasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfeGranjasServlet</servlet-name>
		<url-pattern>/ProfeGranjas</url-pattern>
	</servlet-mapping>

	  <servlet>
        <servlet-name>NuevoAlumnoServlet</servlet-name>
        <servlet-class>Simulador.NuevoAlumnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevoAlumnoServlet</servlet-name>
        <url-pattern>/NuevoAlumno</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>NuevosAlumnosServlet</servlet-name>
        <servlet-class>Simulador.NuevosAlumnosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevosAlumnosServlet</servlet-name>
        <url-pattern>/NuevosAlumnos</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>DetallesAlumnoServlet</servlet-name>
        <servlet-class>Simulador.DetallesAlumnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetallesAlumnoServlet</servlet-name>
        <url-pattern>/DetallesAlumno</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>ModificarAlumnoServlet</servlet-name>
        <servlet-class>Simulador.ModificarAlumnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificarAlumnoServlet</servlet-name>
        <url-pattern>/ModificarAlumno</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>BorrarGranjaServlet</servlet-name>
        <servlet-class>Simulador.BorrarGranjaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrarGranjaServlet</servlet-name>
        <url-pattern>/BorrarGranja</url-pattern>
    </servlet-mapping>

  	<servlet>
        <servlet-name>BorradoGranjaServlet</servlet-name>
        <servlet-class>Simulador.BorradoGranjaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorradoGranjaServlet</servlet-name>
        <url-pattern>/BorradoGranja</url-pattern>
    </servlet-mapping>

	  <servlet>
        <servlet-name>ExportarServlet</servlet-name>
        <servlet-class>Simulador.ExportarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportarServlet</servlet-name>
        <url-pattern>/Exportar.csv</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BackupServlet</servlet-name>
        <servlet-class>Simulador.BackupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackupServlet</servlet-name>
        <url-pattern>/Backup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExportarGranjasServlet</servlet-name>
        <servlet-class>Simulador.ExportarGranjasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportarGranjasServlet</servlet-name>
        <url-pattern>/ExportarGranjas</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ComprarServlet</servlet-name>
        <servlet-class>Simulador.ComprarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprarServlet</servlet-name>
        <url-pattern>/Comprar</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>SacrificarServlet</servlet-name>
		<servlet-class>Simulador.SacrificarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SacrificarServlet</servlet-name>
		<url-pattern>/Sacrificar</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SacrificarTerneroServlet</servlet-name>
		<servlet-class>Simulador.SacrificarTerneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SacrificarTerneroServlet</servlet-name>
		<url-pattern>/SacrificarTernero</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioGrupoServlet</servlet-name>
		<servlet-class>Simulador.CambioGrupoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioGrupoServlet</servlet-name>
		<url-pattern>/CambioGrupo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModificarDietaServlet</servlet-name>
		<servlet-class>Simulador.ModificarDietaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificarDietaServlet</servlet-name>
		<url-pattern>/ModificarDieta</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TernerosGranjaServlet</servlet-name>
		<servlet-class>Simulador.TernerosGranjaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TernerosGranjaServlet</servlet-name>
		<url-pattern>/TernerosGranja</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VariablesGestacioServlet</servlet-name>
		<servlet-class>Simulador.VariablesGestacioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VariablesGestacioServlet</servlet-name>
		<url-pattern>/VariablesGestacion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VariablesGranjaServlet</servlet-name>
		<servlet-class>Simulador.VariablesGranjaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VariablesGranjaServlet</servlet-name>
		<url-pattern>/VariablesGranja</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VariablesProduccionServlet</servlet-name>
		<servlet-class>Simulador.VariablesProduccionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VariablesProduccionServlet</servlet-name>
		<url-pattern>/VariablesProduccion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VariablesSecadoServlet</servlet-name>
		<servlet-class>Simulador.VariablesSecadoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VariablesSecadoServlet</servlet-name>
		<url-pattern>/VariablesSecado</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VariablesTerneroServlet</servlet-name>
		<servlet-class>Simulador.VariablesTerneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VariablesTerneroServlet</servlet-name>
		<url-pattern>/VariablesTernero</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VariablesVacaServlet</servlet-name>
		<servlet-class>Simulador.VariablesVacaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VariablesVacaServlet</servlet-name>
		<url-pattern>/VariablesVaca</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RacionNeonatoServlet</servlet-name>
		<servlet-class>Simulador.RacionNeonatoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RacionNeonatoServlet</servlet-name>
		<url-pattern>/RacionNeonato</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RacionLactantesServlet</servlet-name>
		<servlet-class>Simulador.RacionLactantesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RacionLactantesServlet</servlet-name>
		<url-pattern>/RacionLactantes</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CrotalarTerneroServlet</servlet-name>
		<servlet-class>Simulador.CrotalarTerneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrotalarTerneroServlet</servlet-name>
		<url-pattern>/CrotalarTernero</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DesinfectarTerneroServlet</servlet-name>
		<servlet-class>Simulador.DesinfectarTerneroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DesinfectarTerneroServlet</servlet-name>
		<url-pattern>/DesinfectarTernero</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DestetarServlet</servlet-name>
		<servlet-class>Simulador.DestetarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DestetarServlet</servlet-name>
		<url-pattern>/Destetar</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EconomiaServlet</servlet-name>
		<servlet-class>Simulador.EconomiaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EconomiaServlet</servlet-name>
		<url-pattern>/Economia</url-pattern>
	</servlet-mapping>
<servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>Simulador.AndroidWS</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
	<resource-ref>
		<description>Elemento necesario para configurar un datasource en server.xml de Tomcat</description>
		<res-ref-name>jdbc/cow</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>